# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.env
.env.*
.venv/
venv/

# Jupyter & VSCode
*.ipynb_checkpoints
.vscode/
*.log

# Node (if any)
node_modules/

# Streamlit
.streamlit/secrets.toml

# OS/Editor
Thumbs.db
